@use "variaveis";

.about-course {
    // background-color: variaveis.$corPrincipalClara;
background-color: #f6e58d;

    h2 {
        text-align: center;
        // text-transform: uppercase;
        padding: 32px;


    }

    div {
        text-align: center;

        ul {

            display: flex;
            list-style: none;

            img {
                max-width: 180px;
                border-radius: 8px;

            }
        }
    }



}