.about-me {
    background-image: url(../../dist/images/face7.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width:768px) {
        display: block;
    }

    &__content {
        width: 320px;

        h2 {
            padding-bottom: 32px;
            margin-top: 8px;
        }

        p {
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 18px;
        }
    }
}