@use "variaveis";

.about-course {
    background-image: url(../../dist/images/fundo2.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
        text-align: center;
        padding-bottom: 32px;
    }

    &__courses {
        text-align: center;

        ul {
            display: flex;
            list-style: none;
            padding-bottom: 32px;

            @media (max-width:768px) {
                display: block;

            }

            @media (min-width:769px) and (max-width:1023px) {
                display: grid;
                grid-template-columns: 1fr 1fr;

            }

            img {
                max-width: 180px;
                border-radius: 8px;
                border: 5px groove rgba(#fff, 50%);
            }
        }
    }


}