@use "variaveis";

@mixin inputText() {
    width: 320px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: rgba(#000, 15%);
    border-radius: 8px;
    border: none;
    font-size: 18px;

    &::placeholder {
        color: #000;
        font-size: 16px;
    }

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../../dist/images/face7.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;


    &__content {
        text-align: center;
        width: 320px;

        h2 {
            text-transform: uppercase;
            font-style: italic;
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 8px;
            font-style: italic;
            font-size: 48px;
        }

        p {
            margin-bottom: 8px;
            font-size: 18px;
            font-weight: bold;
        }

        &__form_cadastro {

            &__nome {
                @include inputText();
            }

            &__email {
                @include inputText();
            }
        }
    }
}