@use "variaveis";

@mixin inputText() {
    width: 320px;
    margin-bottom: 8px;
    padding: 16px;
    background-color: rgba(#000, 15%);
    border-radius: 8px;
    border: none;
    font-size: 18px;

    &::placeholder {
        color: #000;
        font-size: 16px;
    }

}



.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: 24px;
    // align-items: center;
    // background-image: url(../../dist/images/face3.png);
    background-image: url(../../dist/images/face7.png);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;


    &__content {
        text-align: center;
        width: 320px;

        h2 {
            text-transform: uppercase;
            margin-top: 8px;
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        p {
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 18px;
            font-weight: bold;
        }

        &__form_cadastro {

            &__nome {
                @include inputText();


            }

            &__email {
                @include inputText();
            }

            &__cadastrar {
                background-color: variaveis.$corPrincipal;
                color: variaveis.$corSecundaria;
                border-radius: 8px;
                text-transform: uppercase;
                letter-spacing: 1px;
                border: none;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
                width: 320px;
                padding: 16px;
                margin-bottom: 16px;

                &:hover {
                    // background-color: scale-color(variaveis.$corSecundaria, $lightness: 55%);
                    background-color: variaveis.$corSecundaria;
                    color: variaveis.$corPrincipal;
                }
            }

        }
    }
}