@use "variaveis";
@use "header";
@use "about-course";
@use "about-me";
@use "comments";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    // background-image: url(../../dist/images/fundo2.png);
}

.text-white {
    color: #fff;
}

.text-yello {
    color: variaveis.$corPrincipal;
}